*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-height: 100vh;
}
.header {
    background-color: #CAD5CF;
    min-height:10vh ;
}

#navbar {
    background-color: #CAD5CF;
    padding: 0;
}
.navoffset {
    background-color: #CAD5CF;
}
footer {
    background-color: black;
    min-height: 10vh;
    padding: .5rem;
    bottom: 0;
    position: absolute;
 
    
}
footer div {
    color:  #16b8f3;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .busq{
    margin-right: 35rem;
} */

#ham{
    border: none;
    color: #CAD5CF;
}

.logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.btn{
    background-color: #D5CEA2;
    border: none;
    color: orangered;
}
.btn:hover{
    color: whitesmoke;
    background-color:  #5A11BF;
}
.card_header_signup{
    border: none;
    color: #5A11BF;
}

.login_title{
    color: #5A11BF;
}
.mobile_create_account {
    color: #5A11BF;
}
.libromes{
    border-radius: 0.3rem;
    height: 5rem;
    width: 3rem;
}